# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lab2_OP_2term/.vs/Lab2_OP_2term/v15/.suo
Lab2_OP_2term/.vs/Lab2_OP_2term/v15/Browse.VC.db
Lab2_OP_2term/.vs/Lab2_OP_2term/v15/.suo
*.db
